<article class="grid" id="login">
  <div>
    <hgroup>
      <h1>Sign in</h1>
      <h2>Sign in to vote!</h2>
    </hgroup>
    <form method="POST" action="/login">
      <input
        type="text"
        name="username"
        placeholder="Username"
        aria-label="Username"
        autocomplete="nickname"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        autocomplete="current-password"
      />
      <button type="submit" class="contrast" value="Login">Login</button>
    </form>
  </div>
  <div></div>
</article>
