<h2>For internal use only</h2>

<table role="grid">
  <thead>
    <th scope="col">Id</th>
    <th scope="col">Username</th>
    <th scope="col">Has voted</th>
    <th scope="col"></th>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td id="id">{{id}}</td>
      <td id="username">{{username}}</td>
      <td id="hasVoted">{{hasVoted}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
